* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: Helvetica, 'sans-serif';
}

.main {
  padding: 20px 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;

    .main-table {
      border: 3px solid black;
      padding: 20px;

      .main-table-body {
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;


        .main-table-body-item {
          border: 1px solid black;
          padding: 15px;
          box-sizing: border-box;

          &.name {
            cursor: pointer;
          }
        }


        img {
          text-align: center;
          max-width: 100%;
        }
      }
    }
  }
}

.pan1 {
  width: 200px;
  min-width: 200px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #eaeaea;

  .pan1-description {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .pan1-description-img {
      margin-top: 20px;
      margin-bottom: 20px;

      img {
        max-width: 100%;
      }
    }
  }
}

#resize {
  float: right;
  margin-right: 0;
  width: 5px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  cursor: e-resize;
  position: absolute;
  right: 0;
  top: 0;
}
