<div class="main">
  <div class="container">
    <table class="main-table">
      <thead class="main-table-head">
        <tr>
          <th class="main-table-head-item">Название</th>
          <th class="main-table-head-item">Название</th>
          <th class="main-table-head-item">Название</th>
          <th class="main-table-head-item">Название</th>
        </tr>
      </thead>
      <tbody class="main-table-body">
        <tr>
          <td class="main-table-body-item">Имя</td>
          <td class="main-table-body-item">Имя</td>
          <td class="main-table-body-item">Имя</td>
          <td class="main-table-body-item">Имя</td>
        </tr>
        <tr>
          <td class="main-table-body-item">Имя</td>
          <td class="main-table-body-item">Имя</td>
          <td class="main-table-body-item">Имя</td>
          <td class="main-table-body-item">Имя</td>
        </tr>
        <tr>
          <td class="main-table-body-item">Имя</td>
          <td class="main-table-body-item">Имя</td>
          <td class="main-table-body-item">Имя</td>
          <td class="main-table-body-item">Имя</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
